@import "@/styles/shared.scss";

.container {
  width: $breakpointTablet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusText {
  font-size: 18px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.spinner {
  margin-bottom: 24px;
}

@media only screen and (max-width: $breakpointTablet) {
  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: $breakpointMobile) {
  .loadingGif {
    width: 100%;
    height: 200px;
  }
}
