@import "@/styles/shared.scss";

.container {
  margin-top: 4px;
  padding-bottom: 400px;
}

.productBlock {
  display: grid;
  grid-template-columns: 176px auto;
  grid-template-rows: auto 50px;
  grid-template-areas: "img copy" "img buy";
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &.loading {
    .productTitle {
      @extend .suspenseBackground;
      color: transparent;
      border-radius: 4px;
    }
  }
}

.loadingImg,
.productImg {
  grid-area: img;
  width: 160px;
}

.loadingImg {
  @extend .suspenseBackground;
  border-radius: 4px;
  height: 160px;
}

.productImg {
  max-height: 320px;
  object-fit: scale-down;
}

.productCopyContainer {
  grid-area: copy;
}

.productTitle {
  font-size: 18px;
  font-weight: 600;
}

.buyContainer {
  grid-area: buy;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.productLink {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ratingText {
  margin-right: 6px;
}
.ratingCountText {
  margin-left: 6px;
  color: rgb(100, 100, 100);
}

.wowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.loadingText {
  margin-bottom: 10px;
}

@media only screen and (max-width: $breakpointMobile) {
  .productBlock {
    display: grid;
    grid-template-columns: 136px auto;
    grid-template-rows: auto 55px;
    grid-template-areas: "img copy" "copy buy";
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .loadingImg,
  .productImg {
    width: 128px;
  }
  .productImg {
    max-height: 200px;
  }

  .loadingGifContainer {
    width: 100%;

    .loadingGif {
      width: 100%;
      height: 200px;
    }
  }
}
