@import "@/styles/shared.scss";

:root {
  --primary-color: #ffd569;
  --secondary-color: #6993ff;
  --secondary-color-light: #4566bb;
}
body,
html {
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

button,
.button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  font-weight: 600;

  &:hover {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
  }
}

.invisButton {
  background: none;
  color: black;
  padding: 0;
  font-weight: initial;

  &:hover {
    background: none;
  }
}

a:not(.hiddenLink) {
  color: black;

  &:hover {
    color: var(--secondary-color);
  }
}

a.hiddenLink {
  text-decoration: none;
  color: initial;
}

@media only screen and (max-width: $breakpointMobile) {
  button,
  .button {
    padding: 12px;
    width: 100%;
  }

  .invisButton {
    width: initial;
  }
}
