@import "@/styles/shared.scss";

.container {
  width: $breakpointTablet;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.backButton {
  padding: 8px;
  padding-left: 0;
}

.resultsBlurb {
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}

.recSpan {
  font-weight: 600;

  &.loading {
    @extend .suspenseBackground;
    border-radius: 4px;
    color: transparent;
  }
}

.otherContainer {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 40px;
}

.otherText {
  font-size: 16px;
  display: inline-block;
  margin-right: 24px;
}

.otherRec {
  padding: 0;
  margin: 0;
  margin-right: 24px;
  color: black;
  background: none;
  text-decoration: underline;
  margin-bottom: 8px;

  &:hover {
    color: rgb(78, 78, 78);
  }

  &.loading {
    @extend .suspenseBackground;
    border-radius: 4px;
    color: transparent;
    cursor: initial;
  }
}

.disclaimerText {
  font-size: 12px;
  color: rgb(94, 94, 94);
}

@media only screen and (max-width: $breakpointTablet) {
  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: $breakpointMobile) {
  .otherContainer {
    overflow-x: scroll;
    height: 50px;
    width: 100%;
    overflow-y: hidden;
    margin-bottom: 10px;
    margin-top: 4px;
  }

  .otherScrollContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;

    * {
      flex-shrink: 0;
    }
  }

  .otherRec {
    margin-right: 32px;
  }
}
