@import "@/styles/shared.scss";

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;

  .ideaText {
    font-weight: 600;
  }

  .whoText {
    font-size: 22px;
  }

  .amazonText {
    text-decoration: underline;
  }
}

.disclaimerText {
  color: rgb(78, 78, 78);
  font-size: 12px;
  margin-bottom: 6px;
}
