@import "@/styles/shared.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;

  .ideaText {
    font-weight: 600;
  }

  .whoText {
    font-size: 22px;
  }

  .amazonText {
    text-decoration: underline;
  }
}

.disclaimerText {
  color: rgb(78, 78, 78);
  font-size: 12px;
  margin-bottom: 6px;
}
