@import "@/styles/shared.scss";

.container {
  width: $breakpointTablet;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: intro 2s ease-in;
}

@keyframes dot-flashing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heroTitle {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

.explainText {
  margin-bottom: 10px;
  color: rgb(32, 32, 32);
  text-align: center;
}

@media only screen and (max-width: $breakpointTablet) {
  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: $breakpointMobile) {
  .hero {
    margin-top: 65px;
  }
  .container {
    padding-bottom: 100px;
  }
}
